*{
    margin: 0;
    list-style: none;
}
:root{
    --primary-color: #191D32;
    --secondary-color: #FFEFD5;
    --accent1-color: #453A49;
    --accent2-color: #6D3B47;
}
header{
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    align-items: center;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    grid-auto-flow:column;
    font-family: "Source Code Pro", monospace;
}
header div {
    place-self: center;
}
nav{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
header nav{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}
header nav a{
    width: 150px;
    padding: 10px;
    background-color:var(--secondary-color);
    color:var(--primary-color);
    text-decoration: none;
    border: 1px solid #6D3B47;
    text-align: center;
    margin: 0px;
}
body {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}
.hero {
    position: relative;
    background-color:var(--secondary-color);
    padding: 5%;
    margin-top: 3%;
}
.hero h1 {
    position: relative;
    text-align: center;
}
.hero article h2{
    text-align: left;
    padding: 1%;
}
.images{
    float:right;
}
.hero article {
    text-align:left;
    margin-top: 2%;
    padding: 80px;
    border: 1px solid black;
}
h1{
    color:var(--accent2-color);
    font-family: "Lato", sans-serif;
    font-weight: 900;
}
h1, h2, h3, h5 {text-align:center;}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main section {
    padding: 50px;
    width: auto;
}
main section img{
    border: 1px solid black;
    padding: 2px;
    justify-content: space-between;
}
main article {
    justify-content: center;
    background-color: rgb(255, 239, 213);
}
main article img{
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:0 0 30px gray;
}

.images2{
    margin-left:15%;
    margin-right: 15%;
    margin-top: 0%;
    width: auto;
    text-align: center;
}
p{
    padding: 10px;
    text-align: left;
}
.history {
    margin-top: 5%;
    background-color: var(--accent2-color);
    color: rgb(255, 239, 213);
}
.historybody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}
.historybody img{
    width: 30%;
}
.figures {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    flex-wrap: wrap;
    text-align: center;
}
figure{
    width: 20%;
}
.figures figure img {
    width: 90%;
}
figcaption{
    width: 100%;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    color: rgb(255, 239, 213) ;
    text-align: center;
    background-color: rgb(25, 29, 50); 
    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: center;
}
footer p {
    text-align: center;
}
footer nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}