*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    
    padding: 50px;
}
nav a{
    padding: 5px;
    background-color:rgb(25, 29, 50);
    color: white;
}
.navbar{
    position: absolute;
    float: right;
    display: flex;
    top: 0;
    left: 130px;
    right: 0;
    justify-content: space-between;
    background-color:rgb(25, 29, 50);
    color: white;
}
#icono {
    float:right;
    margin:5px;
}
.hero {
    position: relative;
}
.hero section h1 {
    position: absolute;
    text-align: center;
}
.images{
    float:right;
}
.hero article {
    position: absolute;
}
h1{
    color:rgb(109, 59, 71);
    text-align: center;
    background-color: white;
}
h2{
    color:rgb(40, 47, 68);
    text-align: center;
    background-color: white

}
.hero article h2 {
    color:rgb(40, 47, 68);
    text-align: center;
    background-color: rgb(255, 239, 213);
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
main section {
    padding: 50px;
    width: auto;
}
main section img{
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:0 0 30px gray;
    text-align: center;
    justify-content: space-between;
    
}
main article {
    justify-content: center;
    background-color: rgb(255, 239, 213);
}
main article img{
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:0 0 30px gray;
}

.images2{
    margin-left:15%;
    margin-right: 15%;
    margin-top: 0%;
    width: auto;
    text-align: center;

}
p{
    padding: 10px;
    text-align: center;
}
.history {
    margin-top: 25%;

}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    color: rgb(255, 239, 213) ;
    text-align: center;
    background-color: rgb(25, 29, 50); ;
}