*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    
    padding: 50px;
}
nav a{
    padding: 5px;
    background-color: darkblue;
    color: white;
}
.navbar{
    position: absolute;
    float: right;
    display: flex;
    top: 0;
    left: 130px;
    right: 0;
    justify-content: space-between;
    
}
#icono {
    float:right;
    margin: top 15px;

}
h1{
    color:darkblue;
    text-align: center;
    background-color: white;
}
h2{
    color: #000;
    text-align: center;
    background-color: white;
}
h5{
    text-align: center;
}
section {
    padding: 50px;
}
section img{
    width: 500px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:0 0 30px gray;
    text-align: center;
}
article {
    justify-content: center;
}
article img{
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:0 0 30px gray;
}
.images {
    margin-left:35%;
    margin-top: 0%;
    width: 300px;

}
p{
    padding: 10px;
    text-align: center;
}
main {
    max-width: 840px;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}